* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.params {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.abb-root {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  border: 1px solid;
  padding: 20px;
}

.abb-root::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: black;
}

.abb-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px 0 0 0;
}

.temp-root {
  margin-right: 40px;
  min-width: 600px;
}

.vibro-root {
  background-color: white;
  border: 1px solid;
  min-width: 600px;
}


.abb-set {
  width: 100%;
}

.abb-status {
  width: 100%;
  padding-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
}
